POSTGRES_PASSWORD=changeme_dev_only
JWT_SECRET=dev_secret_replace_in_production_minimum_64_characters_long!!
ENCRYPTION_KEY=dGhpcyBpcyBhIDMyIGJ5dGUga2V5ISEhMTIzNDU2Nzg=
LLM_BACKEND=disabled
MISTRAL_API_KEY=
OLLAMA_URL=http://host.docker.internal:11434
